<h1><%= @cocktail.name %></h1>
<% if @cocktail.photos.attached? %>
  <% @cocktail.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<h6>
<%=  link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"} %> |
<%= link_to "Edit", edit_cocktail_path(@cocktail) %> |
<%= link_to "Back to Cocktails", cocktails_path %>
</h6>

<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.ingredient.name %> - <%= dose.description %> <%= link_to "Detele dose", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %></li>
<% end %>
</ul>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>